extends layout

block content
  h1 Artists
  table
    thead
      tr
        td Artist
        td Song Name
        td Genre
        td Stars
        td Explicit?
    tbody
      tr
        each val in result
          td= val.artist
          td= val.name
          td= val.stars
          td= val.stars
          td= val.explicit
